<div class="container">
  <div class="col-md-offset-10">

    <%= link_to "new".html_safe, new_stock_url, :class => "btn btn-primary" %>

  </div>
  <br>

  <div class="form">
    <table class="table table-bordered table-hover">
      <tr>
        <td>Item Id</td>
        <td>Quantity</td>
        <td>Unit Price</td>
        <td>est_sell_price</td>
        <td>Operations</td>
      </tr>

      <% @stocks.each do |stock| %>
          <tr>
            <td><%= stock.item_id %> </td>
            <td><%= stock.quantity %></td>
            <td><%= stock.unit_price %></td>
            <td><%= stock.est_sell_price %></td>
            <td><%= link_to "", edit_stock_path(stock), class: "fa fa-pencil-square-o", :title => "Edit" %>
              <%= link_to "", stock_path(stock), class: "fa fa-trash", :title => "Delete",
                          method: :delete, data: {confirm: "Are you sure"} %></td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @stocks, renderer:BootstrapPagination::Rails%>
  </div>
</div>
