<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="well">
  <%= form_for :stock, url: stocks_path do |f| %>
      <% if @stock.errors.any? %>
          <div class="alert-danger">
            <h1>
              <%= pluralize(@stock.errors.count, "error") %>
              occured
            </h1>
            <ul>
              <% @stock.errors.full_messages.each do |e| %>
                  <li> <%= e %> </li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-horizontal">-
        <div class="form-group">
          <div class="row">
            <%= f.label :item_id, :class => "col-md-2" %>
            <div class="col-md-4">
              <%= f.text_field :item_id, :class => "form-control", :placeholder => "itemid" %> </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :quantity, :class => "col-md-2" %>
            <div class="col-md-4">
              <%= f.text_field :quantity, :class => "form-control", :placeholder => "quantity" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <%= f.label :unit_price, :class => "col-md-2" %>
            <div class="col-md-4">
              <%= f.text_field :unit_price, :class => "form-control", :placeholder => "name" %> </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :est_sell_price, :class => "col-md-2" %>
            <div class="col-md-4">
              <%= f.text_field :est_sell_price, :class => "form-control", :placeholder => "print_name" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-offset-2 col-md-4">
              <%= f.submit(type: 'submit', class: "btn btn-primary", value: "save") %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
      </div>
    </div>
  </div>