<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= link_to customers_path do %>
          <div class="well">
            <div align="center">
            <%= image_tag("customers.png") %>
            <h3>Customers</h3>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to sales_path do %>
          <div class="well">
            <div align="center">
              <%= image_tag("sales.png") %>
              <h3>Sales</h3>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to items_path do %>
          <div class="well">
            <div align="center">
              <%= image_tag("items.png") %>
              <h3>Items</h3>
            </div>
          </div>
      <% end %>
      </div>
    </div>
  <div class ="row">
      <div class="col-md-4">
        <%= link_to suppliers_path do %>
            <div class="well">
              <div align="center">
                <%= image_tag("suppliers.png") %>
                <h3>Suppliers</h3>
              </div>
            </div>
        <% end %>
        </div>
    <div class="col-md-4">
      <%= link_to fiscal_years_path do %>
          <div class="well">
            <div align="center">
              <%= image_tag("years.png") %>
              <h3>Fiscal Year</h3>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to stocks_path do %>
          <div class="well">
            <div align="center">
              <%= image_tag("stocks.png") %>
              <h3>Stocks</h3>
            </div>
          </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= link_to item_groups_path do %>
                  <div class="well">
                    <div align="center">
                      <%= image_tag("item group.png") %>
                      <h3>Item Group</h3>
                    </div>
                  </div>
              <% end %>

            </div>
            <div class="col-md-4">
              <%= link_to company_profiles_path do %>
                  <div class="well">
                    <div align="center">
                      <%= image_tag("company.png") %>
                      <h3>Company Profiles</h3>
                    </div>
                  </div>
              <% end %>

            </div>
          </div>

      <% end %>
    </div>

