<div class="container">

  <p><b> Name: </b> <%= @company_profiles.name %> </p>
  <p><b> Address: </b> <%= @company_profiles.address %> </p>
  <p><b> Vdc_Mun: </b> <%= @company_profiles.vdc_mun %> </p>
  <p><b> Ward-no:</b><%= @company_profiles.ward_no %></p>
  <p><b> Phone-no:</b><%= @company_profiles.phone %></p>
  <p><b> Vat_pan_no:</b><%= @company_profiles.vat_pan_num %></p>
  <p><b> Logo-url:</b><%= @company_profiles.logo_url %></p>
  <p><b> District:</b><%= @company_profiles.district %></p>
  <p><b> Zone:</b><%= @company_profiles.zone %></p>
</div>