<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="well">

  <%= form_for (@item), url: items_path, :html => {:class => "form-horizontal"} do |f| %>
      <div class="col-md-6 col-md-offset-3">
        <% if @item.errors.any? %>
            <div class="alert-danger">
              <h1>
                <%= pluralize(@item.errors.count, "error") %>
                occured
              </h1>
              <ul>
                <% @item.errors.full_messages.each do |e| %>
                    <li> <%= e %> </li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :name, :class => "form-control", :placeholder => "item_name" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :unit_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select :unit_id,  Unit.all, :id, :name, {prompt: "Select unit"},{class: "form-control"}  %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :item_code, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.text_field :item_code, :class => "form-control", :placeholder => "item_code" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :item_group_id, :class => "col-md-3" %>
          <div class="col-md-9">
            <%= f.collection_select :item_group_id, Item.all, :id,:name, {prompt: "select itemgroup"},{class: "form-control"} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, :class => "col-md-3" %>
          <div class="col-md-9"><%= f.text_area :description, :class => "form-control", :placeholder => "discription" %> </div>
        </div>


          <%= f.fields_for :stock do|g| %>

            <div class="form-group">
              <%= g.label :quantity, :class => "col-md-3" %>
              <div class="col-md-9">
                <%= g.text_field :quantity, :class => "form-control", :placeholder => "quantity" %>
              </div>
            </div>

            <div class="form-group">
              <%= g.label :unit_price, :class => "col-md-3" %>
              <div class="col-md-9">
                <%= g.text_field :unit_price, :class => "form-control", :placeholder => "unit price" %>
              </div>
            </div>

            <div class="form-group">
              <%= g.label :est_sell_price, :class => "col-md-3" %>
              <div class="col-md-9">
                <%= g.text_area :est_sell_price, :class => "form-control", :placeholder => "estimate price" %>
              </div>
            </div>
            <% end %>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                <span><i class="fa fa-plus"></i> Create</span>
          </div>
        </div>
  <% end %>
  <% end %>
</div>
  </div>
      </div>
    </div>
  </div>

