<div class="container">

  <p><b> Name: </b> <%= @items.name %> </p>
  <p><b> unit_id: </b> <%= @items.unit_id %> </p>
  <p><b> item_code: </b> <%= @items.item_code %> </p>
  <p><b> item_group_id:</b><%= @items.item_group_id %></p>
  <p><b> description:</b><%= @items.description %></p>
</div>