<div class="container">
  <div class="col-md-offset-10">

    <%= link_to "new".html_safe, new_unit_url, :class => "btn btn-primary" %>

  </div>
  <br>

  <div class="form">
    <table class="table table-bordered table-hover">
      <tr>
        <td>Name</td>
        <td>print_name</td>
        <td>Operations</td>
      </tr>

      <% @units.each do |unit| %>
          <tr>
            <td><%= unit.name %> </td>
            <td><%= unit.print_name %></td>
            <td><%= link_to "", edit_unit_path(unit), class: "fa fa-pencil-square-o", :title => "Edit" %>
              <%= link_to "", unit_path(unit), class: "fa fa-trash", :title => "Delete",
                          method: :delete, data: {confirm: "Are you sure"} %></td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @units, renderer:BootstrapPagination::Rails%>

  </div>
</div>
