<div class="container">
  <div class="col-md-offset-10">

    <%= link_to "new".html_safe, new_supplier_url, :class => "btn btn-primary" %>

  </div>
  <br>

  <div class="form">
    <table class="table table-bordered table-hover">
      <tr>
        <td>Name</td>
        <td>Phn_no</td>
        <td>Address</td>
        <td>Email</td>
        <td>Operations</td>
      </tr>

      <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= supplier.name %> </td>
            <td><%= supplier.phn_no %></td>
            <td><%= supplier.address%></td>
            <td><%= supplier.email %></td>
            <td><%= link_to "", edit_supplier_path(supplier), class: "fa fa-pencil-square-o", :title => "Edit" %>
              <%= link_to "", supplier_path(supplier), class: "fa fa-trash", :title => "Delete",
                          method: :delete, data: {confirm: "Are you sure"} %></td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @suppliers, renderer:BootstrapPagination::Rails%>

  </div>
</div>
