<div class="container">

  <p><b> Item Id: </b> <%= @sales.item_id %> </p>
  <p><b>Unit_sell_price</b> <%= @sales.unit_sell_price %></p>
  <p><b> Quantity: </b> <%= @sales.quantity %> </p>
  <p><b> Cash Credits:</b><%= @sales.cash_credit%></p>
  <p><b> Customer Id:</b><%= @sales.customer_id %></p>
</div>